/* defining attributes  about section in about page */

body{
    background-color: #F5F5DC ;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.1rem;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about .row .image{
    flex:1 1 15rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: black;
    font-size: 4rem;
    padding:.1rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:0.1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

/* defining attributes of sub-heading section */
.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
}
/* defining attributes of heading section */
.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 5px;
    text-transform: uppercase;
}
/* defining attributes for btn class */
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:black;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: blue;
    letter-spacing: .1rem;
}
