body {
    background-color: #F5F5F5; /* Slightly lighter shade for a fresh look */
}

#contact-container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto 30px;
    padding: 40px;
    border: 2px solid #E0E0E0; /* Soft gray border for subtle definition */
    border-radius: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* White background for the form */
}

#contact-container:hover {
    border-color: #0056b3; /* Darker blue for hover state */
    background-color: #f9f9f9; /* Very light gray for a hover background */
}

#contact-container .form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contact-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    flex: 0 0 30%;
    margin-right: 10px;
    text-align: right;
    color: #333333; /* Dark gray for text, enhancing readability */
}

#contact-container input[type="text"],
#contact-container input[type="email"],
#contact-container input[type="tel"],
#contact-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 0 0 70%;
    background-color: #f0f0f0; /* Light gray for input fields for subtle contrast */
}

#contact-container input[type="submit"] {
    background-color: #007bff; /* Vibrant blue for submit button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-container input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue when hovered for a dynamic effect */
}
