body{
    background-image: url('backgroundimage.png');
}

#contact-container {
    width: 100%;  /* Use full width to maximize responsiveness */
    max-width: 400px; /* Slightly narrower max-width for better focus on form elements */
    margin: 50px auto 30px; /* Center the container with vertical spacing */
    padding: 2rem; /* Uniform padding of 2rem for a balanced internal spacing */
    border: 2px solid #D0D0D0; /* Lighter, softer border for a less intrusive appearance */
    border-radius: 15px; /* Maintain rounded corners for a modern look */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Smooth transitions for interactive feedback */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cad4c3; /* Pure white background for contrast and clarity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth and focus */
}


#contact-container:hover {
    border-color: #819171 
    
}

#contact-container .form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#contact-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    flex: 0 0 30%;
    margin-right: 10px;
    text-align: right;
    color: #333333; 
}

#contact-container input[type="text"],
#contact-container input[type="email"],
#contact-container input[type="tel"],
#contact-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 0 0 70%;
    background-color: #f0f0f0; /* Light gray for input fields for subtle contrast */
}

#contact-container input[type="submit"] {
    background-color: #627754; /* green for submit button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-container input[type="submit"]:hover {
    background-color: #46563c; /* Darker green when hovered for a dynamic effect */
}
