/* Footer Styles */

footer {
    width: 100%;
    background: linear-gradient(45deg, #0B3005, #533527); /* Gradient background to match navbar */
    padding: 20px 0;
    text-align: center;
    color: #faf8e2; /* Light text color */
    margin-top: 20px;
    font-weight: bold;
}

.back-to-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-to-top-text {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black; /* Light text color */
}

.back-to-top button {
    background-color: #8e7034; /* Match button color with navbar */
    color: #faf8e2; /* Light text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.back-to-top button:hover {
    background-color: #533527; /* Darker accent color on hover */
}

.footer-links {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li:last-child {
    margin-right: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #faf8e2; /* Light text color */
    transition: color 0.3s ease; /* Smooth transition */
}

.footer-links ul li a:hover {
    color: #f4e0a8; /* Light accent color on hover */
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #8e7034; /* Match icon background color with navbar */
    color: #faf8e2; /* Light text color */
    border-radius: 50%;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.social-icons a:hover {
    background-color: #533527; /* Darker accent color on hover */
}

.social-icons i {
    font-size: 20px;
}

.line {
    width: 80%;
    border: none;
    border-top: 2px solid black; /* Light border color */
    margin-bottom: 10px;
}

.copyright {
    color: #faf8e2; /* Light text color */
}
