.confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border: 1px black solid;
    width: 70%;
}

.confirmation-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.confirmation-icon {
    font-size: 2rem;
}

.confirmation-title {
    margin-left: 0.5rem;
}

.confirmation-message {
    text-align: center;
    margin: 20px;
}

.return-home {
    text-align: center;
    margin: 20px;
}

.return-home-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #627754;

    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.return-home-link:hover {
    background-color: #46563c;
}