#product_container {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add gap between product images and details */
}

#product_images,
#product_details {
    flex: 1;
}

#product_images {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the images */
}

#main_image_container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
}

#main_image {
    width: 100%;
    transition: transform 0.5s ease;
}

#thumbnail_images {
    display: flex;
    margin-top: 20px;
    justify-content: center; /* Center horizontally */
}

.thumbnail_container {
    width: 50px;
    height: 50px;
    margin-right: 5px; /* Add a little margin between thumbnail images */
}

.thumbnail_container img {
    width: 100%;
    cursor: pointer;
}

#product_details {
    flex-grow: 1;
    margin-left: 20px;
}

#price_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add space below the price */
}

#original_price {
    font-size: 20px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
    text-decoration: line-through; /* Cross out the original price */
    margin-top: 5px;
    font-weight: bold;
}

#discount {
    font-size: 12px; /* Adjust font size as needed */
    color: #ff0000; /* Adjust text color as needed */
    margin-right: 7px; /* Adjust margin as needed */
    margin-left: 0;
    margin-bottom: 1;
}

#discount_price {
    font-size: 20px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
    margin-top: 7px;
    font-weight: bold;
}

#actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px; /* Add space between action items */
}

#quantity {
    display: flex;
    align-items: center;
}

#quantity_input {
    width: 40px; /* Increased width for better usability */
    text-align: center;
    padding: 5px; /* Reduced padding for a more compact look */
    border-radius: 5px; /* Adjust the border-radius value as needed */
    border: 1px solid #ccc; /* Add border style if needed */
}

/* General button styles */
button {
    padding: 10px 20px;
    background-color: #007bff; /* Primary blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; /* Smooth transitions for visual effects */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    text-transform: uppercase; /* Optional: makes text uppercase for a more button-like appearance */
    font-weight: bold; /* Makes the button text bolder */
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarges the button to indicate it's clickable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increases shadow to give the impression of lifting */
}

/* FontAwesome heart icon */
.fa-heart {
    font-size: 14px; /* Font size for heart icon */
}

/* Individual element margin adjustments */
#add_to_wishlist {
    margin-left: 15px; /* Margin adjustment */
}

#add_to_cart {
    margin-top: 25px; /* Margin adjustment */
}

/* Specific button styles to match general button styles */
.add-to-cart-btn {
    flex: 1;
    padding: 8px 12px; /* Padding for balanced size */
    border: 1px solid #007bff; /* Border color */
    background-color: #007bff; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    font-size: 16px; /* Font size for professional look */
}

.add-to-cart-btn:hover {
    background-color: #0056b3; /* Hover background color */
        transform: scale(1.05); /* Slightly enlarges the button to indicate it's clickable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover shadow */
}

.wishlist-btn {
    flex: 0 0 auto;
    padding: 8px 12px; /* Padding for balanced size */
    border: 1px solid #007bff; /* Border color */
    background-color: transparent; /* Transparent background */
    color: white; /* Text color */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s ease; /* Smooth transition */
    font-size: 16px; /* Font size for professional look */
    margin-left: 10px; /* Space between buttons */
}

.wishlist-btn:hover {
    background-color: #0056b3; /* Hover background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover shadow */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #product_container {
        flex-direction: column;
    }

    #product_images,
    #product_details {
        width: 100%; /* Take up full width */
    }

    #actions {
        flex-direction: column;
    }

    #add_to_cart {
        margin-top: 10px; /* Adjust margin for better stacking on mobile */
    }
}

#product_info_container {
    max-width: 800px; /* Adjust max width as needed */
    margin: 20px auto; /* Center the container */
    padding: 20px;
    margin-top: 25px;
}

#product_navbar {
    display: flex;
    justify-content: center; /* Center the buttons */
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.nav_btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Adjust spacing between buttons */
    color: black;
}

.nav_btn:hover {
    background-color: grey; /* Highlight effect on hover */
    color: white;
}

.nav_btn.active {
    background-color: #007bff;
    color: #fff;
}

.product_info {
    display: none;
}

.product_info.active {
    display: block;
}

/* Flex layout for customer comment */
.comment-container {
    overflow: hidden; /* Hide overflow content */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}

.comment-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin between comments */
    overflow-x: hidden; /* Hide horizontal overflow */
}

/* Style the profile image */
.customer-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Add margin between image and text */
}

/* Container for customer details */
.customer-details {
    flex-grow: 1; /* Allow it to grow to fill the available space */
    overflow: hidden; /* Hide overflow content */
}

/* Style customer name */
.customer-details h3 {
    margin: 0; /* Remove default margin */
    margin-bottom: 5px; /* Add margin below name */
    font-weight: bold; /* Make name bold */
    font-size: 16px; /* Set font size for name */
}

/* Style rating */
.rating {
    display: flex;
    margin-bottom: 5px; /* Add margin below rating */
    flex-direction: column;
}

.rating p {
    margin: 0;
    margin-right: 10px; /* Add margin between name and stars */
    font-weight: bold;
}

/* Style the stars */
.stars {
    color: #ffd700;
    margin-right: 5px; /* Add margin between stars and rating text */
}

/* Style the rating text */
.rating-text {
    font-size: 14px;
    color: #333; /* Adjust text color as needed */
    margin-right: 10px; /* Add margin between rating and comment text */
}

/* Style the comment text */
.comment-text p {
    margin: 0; /* Remove default margin */
    font-size: 14px; /* Set font size for comment text */
}

/* Actions container */
.actions {
    margin-top: 10px; /* Add margin above actions */
}

/* Style like and reply buttons */
.like-btn, .reply-btn {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

/* Style reply form */
.reply-form {
    margin-top: 10px; /* Add margin above form */
}

/* Style reply form input fields */
.reply-form input[type="text"] {
    width: calc(100% - 90px); /* Adjust width of input field */
    padding: 5px; /* Adjust padding */
    margin-right: 10px; /* Add margin between input field and submit button */
}

/* Style reply form submit button */
.reply-form input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#other_products_container {
    text-align: center;
    margin-top: 30px;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 200px; /* Ensure consistent width */
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px); /* Slight lift on hover for a professional look */
}

.product-image {
    width: 100%;
    height: 200px; /* Ensure consistent height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-image img:hover {
    transform: scale(1.05); /* Slight zoom on hover for better presentation */
}

.product-details {
    background-color: #f9f9f9;
    padding: 20px;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.total-reviews {
    margin-left: 5px;
}

.product-name {
    font-weight: bold;
    text-align: left;
    margin: 0;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.add-to-cart-btn {
    flex: 1;
    padding: 8px 12px; /* Slightly increase padding for a balanced size */
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px; /* Adjust font size for a professional look */
}

.add-to-cart-btn:hover {
    background-color: #0056b3; /* Slightly darker blue for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover for a professional look */
}

.wishlist-btn {
    flex: 0 0 auto;
    padding: 8px 12px; /* Add padding for consistency with add-to-cart button */
    border: 1px solid #007bff;
    background-color: #007bff; /* Darker shade on hover */
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s ease;
    font-size: 16px; /* Adjust font size for a professional look */
    margin-left: 10px; /* Ensure some space between the buttons */
}

.wishlist-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarges the button to indicate it's clickable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover for a professional look */
}

