body{
    background-image: url('backgroundimage.png');
}
.password-reset-container {
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #cad4c3;
}

.password-reset-container h2 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

.password-reset-container p {
    color: #666;
}

.password-reset-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    margin-top: 20px;
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="password"]:hover,
input[type="password"]:focus {
    background-color: #e0e0e0;
    outline: none;
    border-color: #819171;
}

input[type="submit"] {
    background-color: #627754; /* Muted green background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform to transition for smooth effect */
    margin: 0 auto;
    display: block; /* Ensure it's a block-level element */
    width: 150px; /* Adjust the width as needed */
}

/* Hover effect */
input[type="submit"]:hover {
    background-color: #46563c; /* Darker shade of green for hover */
    transform: scale(1.05); /* Slightly increase size to give feedback */
}
