.password-reset-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.password-reset-container h2 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

.password-reset-container p {
    color: #666;
}

.password-reset-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    margin-top: 20px;
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="password"]:hover,
input[type="password"]:focus {
    background-color: #e0e0e0;
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block; /* Ensure it's a block-level element */
    width: 150px; /* Adjust the width as needed */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.password-reset-container:hover{
    background-color: #ccc;
}