/* Container styles */
.container1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 20px auto;
    background-color: #dfe5db;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Left container styles */
.left-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Right container styles */
.right-container {
    flex: 1;
    padding: 20px;
    border-bottom: 1px solid #ccc; /* Add border for mobile layout */
    box-sizing: border-box;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="text"] {
    width: calc(100% - 20px); /* Adjust width for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color:#dcddda;   
}

button {
    width: calc(100% - 20px); /* Adjust width for padding */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0250a3;
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
        border: none; /* Remove border for mobile layout */
    }

    .right-container {
        border-top: 1px solid #ccc; /* Add border to top of right container for mobile layout */
    }
}