/* Reset some default browser styles */
body, ul {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(45deg, #533527, #0B3005); /* Gradient background */
    color: #faf8e2; /* Light text color */
}

.logo img {
    height: 80px; /* Adjust height for better balance */
    width: auto; /* Maintain aspect ratio */
}

.nav-links ul {
    list-style: none;
    display: flex;
    font-weight: bold;
}

.nav-links ul li:hover {
    background-color: #533527; /* Darker accent color on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.nav-links ul li a:hover {
    color: #f4e0a8; /* Light accent color on hover */
}

.nav-links li {
    margin-right: 1.5rem;
}

.nav-links li:last-child {
    margin-right: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #faf8e2; /* Light text color */
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search form {
    display: flex;
    flex-grow: 1;
}

.search input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #533527;
    border-radius: 4px 0 0 4px; /* Rounded corners for left side */
    border-right: none; /* Remove right border */
    background-color: #faf8e2; /* Light background for input */
    color: #0B3005; /* Dark text color */
}

.search input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #8e7034;
    color: #faf8e2; /* Light text color */
    border: none;
    border-radius: 0 4px 4px 0; /* Rounded corners for right side */
    cursor: pointer;
    margin-left: -1px; /* Remove gap between inputs */
}

.icons {
    display: flex;
    align-items: center;
}

.icon:hover {
    background-color: #533527; /* Darker accent color on hover */
    color: #faf8e2; /* Light text color on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.icon {
    cursor: pointer;
    margin-right: 1rem;
}

.menu-toggle {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.submenu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0B3005; /* Dark background color */
    padding: 0.5rem;
    width: 100%;
    color: #faf8e2; /* Light text color */
}


/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: row;
        position: relative;
    }

    .logo {
        order: 1; /* Move logo to the top for mobile devices */
    }

    .search {
        order: 2; /* Move search bar after logo for mobile devices */
        margin-top: 1rem; /* Adjust spacing */
        margin-right: 1rem;
    }

    .icons {
        order: 3; /* Move icons after search bar for mobile devices */
        margin-top: 1rem; /* Adjust spacing */
    }

    .menu-toggle {
        display: block; /* Show menu toggle icon for mobile devices */
        font-size: 1.5rem;
        color: #faf8e2;/* Change color to match your design */
        order: 4; /* Move menu toggle icon after icons for mobile devices */
        margin-top: 1rem; /* Adjust spacing */
        z-index: 10000;
    }

    .submenu {
        display: none; /* Hide submenu by default for mobile devices */
        order: 5; /* Move submenu after menu toggle icon for mobile devices */
    }

    .submenu.show {
        display: block; /* Show submenu when toggled for mobile devices */
        z-index: 1000;
    }

    .submenu ul {
        list-style: none;
        padding: 0;
    }

    .submenu ul li {
        margin-bottom: 0.5rem;
    }

    .submenu ul li a {
        text-decoration: none;
        color: #faf8e2; /* Change color to match your design */
    }

    .submenu ul li:hover {
        background-color: #533527; /* Light blue background color on hover */
    }

    .submenu ul li.active {
        background-color: #8e7034; /* Light blue background color for selected page */
        font-weight: bold; /* Bold font for selected page */
    }

    .nav-links ul {
        list-style: none;
        display: none;
    }
    
}

.submenu ul li.highlight {
    background-color: #8e7034; /* Light blue background color for highlighted page */
    font-weight: bold; /* Bold font for highlighted page */
}



/* profile section */
/* Add styles for the profile icon */
.profile-icon {
    position: relative;
    margin-left: 1rem;
    margin-right: 2rem;
}

.profile-icon .profile-image img {
    width: 40px; /* Set the width of the profile image */
    height: 40px; /* Set the height of the profile image */
    border-radius: 50%; /* Make the image circular */
}

.profile-icon .username {
    margin-left: 0.5rem;
}

/* Style for submenu */
.submenu-profile {
    position: absolute;
    top: 100%; /* Position submenu below profile icon */
    left: -10px; /* Adjust submenu positioning */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999; /* Ensure submenu appears above other content */
}

.submenu-profile ul {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
}

.submenu-profile ul li {
    padding: 0.5rem 1rem;
}

.submenu-profile ul li a {
    text-decoration: none;
    color: #0B3005; /* Dark text color */
    display: block;
}

/* Show submenu on hover */
.profile-icon:hover .submenu-profile {
    display: block;
}


/* Hover effect for submenu items */
.submenu-profile ul li:hover {
    background-color: #8e7034; /* Light blue background color on hover */
}

/* Hover effect for submenu item text */
.submenu-profile ul li:hover a {
    color: #faf8e2; /* Blue text color on hover */
}

.icons .icon i {
    color: #faf8e2; /* Change the color to black */
  }